@{
    ViewData["Title"] = "Privacy Policy (or lack there of...)";
}
<h1>@ViewData["Title"]</h1>

<p>All information that a user enters is directed straight to google and facebook for profit.</p>
<p>Nobody is safe...</p>
